@using Blog.Web.ViewModels
@model PostagemViewModel

@{
     ViewData["Title"] = "Criar Postagem";
 }

@await Component.InvokeAsync("Summary")

<h4>Postagem</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Voltar</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
