@using Blog.Business.Models
@model Postagem

@{
    ViewData["Title"] = "Editar Postagem";
}

@await Component.InvokeAsync("Summary")

<h4>Postagem</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdAutor" class="control-label"></label>
                <input asp-for="IdAutor" class="form-control" readonly />
                <span asp-validation-for="IdAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" readonly />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}