@model Blog.Business.Models.Autor

@{
    ViewData["Title"] = "Excluir Autor";
}

@await Component.InvokeAsync("Summary")

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-danger">Excluir Autor</h1>
            <h3 class="text-warning">Tem certeza de que deseja excluir este autor?</h3>
            <div class="card border-danger mb-3">
                <div class="card-header bg-danger text-white">
                    <h4>Detalhes do Autor</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Nome</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-3">Biografia</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Biografia)</dd>
                    </dl>
                </div>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>