@model Blog.Business.Models.Comentario

@{
    ViewData["Title"] = "Criar Comentário";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-primary">@ViewData["Title"]</h1>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="form-group">
                    <label asp-for="DataPostagem" class="control-label"></label>
                    <input asp-for="DataPostagem" class="form-control" type="datetime-local" />
                    <span asp-validation-for="DataPostagem" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Conteudo" class="control-label"></label>
                    <textarea asp-for="Conteudo" class="form-control"></textarea>
                    <span asp-validation-for="Conteudo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdPostagem" class="control-label"></label>
                    <select asp-for="IdPostagem" class="form-control" asp-items="ViewBag.IdPostagem"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}